# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
crypto

# Test and temp files
tmp

# Temp files for unit tests
*.gcda
*.gcno

ext/libzed

.clang-format

tools/analyzer/randomAnalyzer
tools/analyzer/caesarAnalyzer
tools/analyzer/wikiAnalyzer
tools/analyzer/output/
tools/analyzer/__pycache__
